#title, #title2{
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: blue;
    font-size: x-large;                                           
}

span{
    width: 140px;
    text-align: center;
}

